{% extends "grumblr/base.html" %}


{% block title %}{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "grumblr/css/login.css" %}">
{% endblock %}

{% block body %}
<div class="row">
	<div id="left">
		<div class="text-center" id="word">
			<h4> <i class="fas fa-cloud"></i>  Record your moments.</h4>
			<br>
			<h4> <i class="fas fa-user-friends"></i>  Meet your friends.</h4>
		</div>
	</div>
	<div id="right">
        {% block right %}{% endblock %}
	</div>
</div>
{% endblock %}